#left{ 
    float: left;
}
#right { 
    float: right;
}

/* container */
.three-columns-grid {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 2fr 4r 2fr;
}

/* columns */
.three-columns-grid > * {
    padding:1rem;
}
